{%load static%}
<!doctype html>
<html lang="en"> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
        <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        <!--my css-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      {% comment %} <div class="container-fluid g-0"> {% endcomment %}
          <app-header>
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="side-nav-button p-2 me-3 text">
                      <i class="fas fa-bars fa-lg" style="color: #ffffff;" onclick="toggleSideNav()"></i>
                    </div>
                    {% comment %} <img src="{% static '/app1/reddit.png' %}" alt="logo" style="width:65px;height:65px;"> {% endcomment %}
                    <img src="https://mymedia.myn.global/mynwebsite/images/Icons/myn-logo-bw.png" alt="logo" style="width:80px;height:auto;margin:20px;">
                      {% if user.is_authenticated %}
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">{{user}}</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                      </ul>
                      {% else %}
                      <ul class="navbar-nav me-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                      </ul>
                      {% endif %}
                </nav>
          </app-header>
          <main>
              <app-side-nav id="sideNav">
                <div class="side-nav-content">
                  <ul class="nav-list">
                    <li class="nav-list-item">
                      <i class="fas fa-home fa-lg"></i>
                      <span >
                        <a href="{% url 'login' %}">Dashboard</a>
                      </span> 
                    </li>
                    <li class="nav-list-item">
                      <i class="fas fa-chart-line fa-lg"></i>
                      <span >
                        <a href="#">Analytics</a>
                      </span> 
                    </li>
                    <li class="nav-list-item">
                      <i class="fas fa-bell fa-lg"></i>
                      <span>
                        <a href="#">Notification</a>
                      </span> 
                    </li>
                  </ul>
                </div>
              </app-side-nav>
              <div class="display-area">
                  <br></br>

                  {% comment %} jumbotron {% endcomment %}
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="jumbotron">
                              {% comment %} <h1 class="display-4 row justify-content-center">User Authentication System</h1> {% endcomment %}
                              {% comment %} <hr class="my-4"> {% endcomment %}
                              {% block body %}{% endblock %}
                          </div>
                      </div>
                  </div>
                  {% comment %} end {% endcomment %}
              </div>
          </main>
          <app-footer>
            <!-- Footer -->
{% include "footer.html" %}
    <!-- Footer -->
          </app-footer>
      {% comment %} </div> {% endcomment %}
        <script>
          function toggleSideNav() {
            console.log("toggleSideNav called");
            var sideNavContent = document.querySelector(".side-nav-content");
            sideNavContent.classList.toggle("collapsed");
            var sideNav = document.querySelector("#sideNav");
            sideNav.classList.toggle("collapsed");
          }
        </script>
        {% comment %} <script src="{% static 'js/a.js' %}"></script> {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>











