{% comment %} {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Password{% endblock %}

{% block body %}
<h2>Change Password</h2>

    <form method="POST">
        {% csrf_token %}
        {{ change_password|crispy }}
        <input type="submit" name="submit" value="Change Password" class="btn btn-primary btn-lg">
        <br></br>
        {% if message != '' %}
        <div class="alert alert-danger" role="alert">
            <b>{{ message }}</b>
        </div>
        {% endif %}
    </form>
{% endblock %} {% endcomment %}