<footer id="footer" class="bg-primary text-white d-flex-column text-center fixed-bottom">
    <hr class="mt-0"> 
    <!--Social buttons-->
    <div class="text-center">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Facebook">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Linkedin">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Twitter">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://codepen.io/jettaz" class="sbtn btn-large mx-1" title="Youtube">
            <i class="fab fa-youtube-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <!--/.Social buttons-->
    <hr class="mb-0">
    <!--Copyright-->
    <div class="py-3 text-center">
      Copyright 1998 -
      <script>
        document.write(new Date().getFullYear())
      </script> <a target="_blank" href="https://codepen.io/jettaz"></a> | Developed by Barsha Nayak
    </div>
    <!--/.Copyright-->
  </footer>