{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block body %}
<h2 class="row justify-content-center">Login here!</h2>
<hr class="my-4">
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input type="submit" name="submit" value="Login" class="btn btn-primary btn-lg">
        {% comment %} <br></br> {% endcomment %}
        {% comment %} <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a> {% endcomment %}
        {% comment %} <br></br> {% endcomment %}
        {% if message != '' %}
        <div class="alert alert-danger" role="alert">
            <b>{{ message }}</b>
        </div>
        {% endif %}
    </form>


{% endblock %}

