{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block body %}
<h2>Login here!</h2>

    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input type="submit" name="submit" value="Login" class="btn btn-primary btn-lg">
        <br></br>
        <a href="{% url 'signup' %}">Forgot Password <span class="sr-only"></span></a>
        <br></br>
        {% if message != '' %}
        <div class="alert alert-danger" role="alert">
            <b>{{ message }}</b>
        </div>
        {% endif %}
    </form>


{% endblock %}