{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block body %}
    {% comment %} <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <div id="error_div"></div> {% endcomment %}
                        <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                        {% comment %} </div> {% endcomment %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        {% comment %} <div class="card-body"> {% endcomment %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                        <label class="medium mb-1" for="id_email">Email</label>
                                            <input type="email" name="email"  class="form-control"
                                                autocomplete="email" maxlength="254" required id="id_email"
                                                placeholder="Enter email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-dark">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 medium">
                                        <div class="form-group mt-0 mb-1">
                                            <a href="{% url 'signup' %}">Create A New Account</a><br><br>
                                            <a href="{% url 'login' %}">Back To Login</a><br>
                                        </div>
                                    </div>
                                </div>  
                            </form>
                        {% comment %} </div>
                        
                    </div>
                </div>
            </div>
        </div>

  </div> {% endcomment %}
{% endblock %}



{% comment %} {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Password{% endblock %}

{% block body %}
<h2>Change Password</h2>

    <form method="POST">
        {% csrf_token %} {% endcomment %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} <input type="text" name="text" value="New Password" class="btn btn-primary btn-lg">
        <input type="text" name="text" value="Confirm Password" class="btn btn-primary btn-lg">
        <input type="submit" name="submit" value="Change Password" class="btn btn-primary btn-lg">
        <br></br>
        {% if message != '' %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <b>{{ message }}</b>
            {% endfor %}
        </div>
        {% endif %}
    </form>
{% endblock %} {% endcomment %}
