{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block body %}

<h2>Sign Up</h2>

    <form method="POST">
        {% csrf_token %}
        {{signup_form|crispy}}
        <input type="submit" name="submit" value="Sign Up" class="btn btn-primary btn-lg">
        <br></br>
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% comment %} <b>{{ message }}</b> {% endcomment %}
        </div>
        {% endif %}
    </form>

{% endblock %}